/*
estilos en componentes
ids
clases

background
width
height
margin
padding


color: #09f; 
color: rgba(250, 125, 20, 100%);
color: rgb(250 125 20 / 100%);
font-family: system-ui;
font-size

elemento + elemento
border
border-radius
box-sizing: border-box;

*/