<!DOCTYPE html>
<html>
    <head>
        <title>Ejemplo 9</title>
        <link rel="stylesheet" href="{{url_for('static', filename='verClientes.css')}}">
    </head>
    <body>
        <main class="main">
            <div class="container">
                <h2>Lista de Clientes</h2>
                {% block nav %}
                <a href="/"> Formulario de Clientes </a>
                {% endblock nav %}
                <div>
                    {% for cliente in listaClientes %}
                        <div class="cliente">
                            <span> Nombre: <strong> {{ cliente.nombre }}</strong></span>
                            <span> Apellido: <strong> {{ cliente.apellido }}</strong></span>
                            <span> Carnet: <strong> {{ cliente.carnet }}</strong></span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>