{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <title>Document</title>
</head>
<body class="body-index">
    <nav>
        <ul>
            <li>
                <a href="/"> Index </a>
            </li>
            <li>
                <a href="response"> Response </a>
            </li>
            <li>
                <a href="clientes"> Clientes </a>
            </li>
            <li>
                <a href="limpiar"> Limpiar </a>
            </li>
        </ul>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>